@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    color: var(--text);
}

:root{
    --crust:     #11111B;
    --mantle:    #1E1E2E;
    --base:      #1E1E2E;
    --surface0:  #313244;
    --surface1:  #45475A;
    --surface2:  #585B70;
    --overlay0:  #6C7086;
    --overlay1:  #7F849C;
    --overlay2:  #9399B2;
    --subtext0:  #A6ADC8;
    --subtext1:  #BAC2DE;
    --text:      #CDD6F4;

    --lavander:  #B4BEFE;
    --blue:      #89B4FA;
    --sapphire:  #74C7EC;
    --sky:       #89DCEB;
    --teal:      #94E2D5;
    --green:     #A6E3A1;
    --yellow:    #F9E2AF;
    --peach:     #FAB387;
    --maroon:    #EBA0AC;
    --red:       #F38BA8;
    --mavue:     #CBA6F7;
    --pink:      #F5C2E7;
    --flamingo:  #F2CDCD;
    --reseqater: #F5E0DC;
}

body{
    background-color: var(--crust);
    width: 100vw;
}

.container{
    width: 90%;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

.section-title{
    text-transform: uppercase;
    font-weight: 18px;
    margin-bottom: 100px;
}

.white-btn{
    background-color: var(--subtext1);
    color: var(--base);
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-sections{
    margin-top: 100px;
} 

.hover-scale:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}

.grayfilter:hover{
    filter: grayscale(100%);
}

/* NAVBAR */
#navbar-section{
    background-color: var(--mantle);
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
.navbar-container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a, #navmenu-list{
    margin: 0px 20px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
nav a:is(:hover, :active){
    font-weight: 600; /*semi-bold*/
}

/* HEADER */
.header-circle{
    background: linear-gradient(127.45deg, #0C0A20 18.94%, #5644B7 159.71%);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}
.header-circle-left{
    width: 320px;
    height: 320px;
    left: -4%;
    top: -86px;
}
.header-circle-middle{
    width: 219px;
    height: 219px;
    left: 50%;
    top: 90px;
}
.header-circle-right{
    width: 300px;
    height: 300px;
    left: 88%;
    top: -70px;
}
header{
    background-image: url("./images/bg-html.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-container{
    width: 90%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Left header */
.left-header-section{
    width: 50%;
    display: grid;
    place-content: center;
}
#header-name{
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: bold;
    position: relative;
    left: 20px;
    top: 60px;
}
#header-lastname{
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: bold;
    position: relative;
    left: 210px;
    bottom: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}
#header-name:hover,
#header-lastname:hover{
    transform: scale(1.05);
}
/*  Right header */
.right-header-section{
    width: 50%;
    display: grid;
    place-content: center;
}
#header-glass{
    border-radius: 25px;
    background: linear-gradient(125deg, 
    rgba(205, 214, 244, 0.35) 2.49%, 
    rgba(205, 214, 244, 0.08) 85.83%);
    box-shadow: 0px 3.35946px 20.1568px -0.839866px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12.598px);
    border: 0.84px solid;
    border-image-source: linear-gradient(30deg, 
    rgba(30, 30, 46, 0.6) 2.73%, 
    rgba(103, 103, 114, 0.6) 36.64%, 
    rgba(197, 197, 201, 0.4) 88.37%, 
    rgba(255, 255, 255, 0.7) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 368px;
    height: 370px;
}
.header-glass-title{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.header-glass-icon{
    width: 20px;
    margin-right: 20px;
}
.header-glass-info{
    margin: 25px;
}
.header-glass-lists li{
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-glass-lists p {
    font-size: 0.9rem;
}
/* Bottom header */
#header-fade{
    width: 100%;
    height: 250px;
    background: linear-gradient(360deg, rgba(30, 30, 46, 0) 0%, #1E1E2E 48.7%, rgba(30, 30, 46, 0) 100%);
    position: relative;
    bottom: 100px;
    z-index: -1;
}

/* PROJECTS */
#projects{
    width: 100%;
    margin-top: -50px;
    margin-bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6%;
}
.project-block{
    position: relative;
    width: 282px;
    height: 290px;
    background: #2B2B37;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
.project-title-container{
    width: 100%;
    background-color: #1E1E2Ebb;
    position: absolute;
    z-index: 1;
}
.project-title{
    text-transform: uppercase;
    font-size: 16px;
    margin: 20px 30px;
}
.project-img{
    object-fit: cover;
    display: block;
}
.project-coming-soon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

/* SKILLS */
#skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-bar-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 380px;
    width: 80%;
    gap: 20px;
}
.skills-bar-list li {
    display: inline-flex;
}
.skills-bar-icon{
    width: 38px;
}
.skills-bar-icon-figma{
    width: 30px;
}
.skills-blank-bar{
    width: 402px;
    height: 16px;
    border: 1px solid var(--surface2);
    border-radius: 25.196px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.skill-bar{
    border-radius: 20px;
    margin-left: 4px;
}
.skill-bar-1{
    width: 357px;
    height: 10px;
    background: #89B4FA;
}
.skill-bar-2{
    width: 310px;
    height: 10px;
    background: #FAB387;
}
.skill-bar-3{
    width: 197px;
    height: 10px;
    background: #F9E2AF;
}
.skill-bar-4{
    width: 68px;
    height: 10px;
    background: #F9E2AF;
}
.skill-bar-5{
    width: 92px;
    height: 10px;
    background: #74C7EC;
}
.skill-bar-6{
    width: 64px;
    height: 10px;
    background: #EBA0AC;
}
.skill-bar-7{
    width: 283px;
    height: 10px;
    background: #89B4FA;
}
.skill-bar-8{
    width: 279px;
    height: 10px;
    background: #FAB387;
}
.skill-bar-9{
    width: 338px;
    height: 10px;
    background: #EBA0AC;
}

/* CONTACT */
#contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 70%;
    display: flex;
    align-content: center;
}
.contact-left-block,
.contact-right-block{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-left-block{
    margin-left: 10%;
}
.contact-right-block{
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form fieldset{
    border-radius: 18px;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
}
form #msg-fieldset {
    height: 120px;
}
form input,
form textarea {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    
}
form legend {
    margin-left: 10px;padding: 0px 8px;
    font-size: 16px;
    font-weight: bold;
}
input:read-write,
textarea:read-write {
    outline: none;
    margin: 0px 20px;
    font-size: 16px;
    color: var(--mavue);
}
#error{
    color: var(--red);
    font-size: 16px;
    margin: 20px 0px;
}
#submit-btn{
    padding: 10px 50px;
}
#wpp-btn-link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 270px;
    text-transform: none;
    padding: 10px;
}
#contact-social-media-section p {
    margin: 40px 0px;
    font-size: 18px;
    gap: 10px;
    text-transform: uppercase;
}

/* FOOOTER */
#footer-fade{
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgba(30, 30, 46, 0) 0%, var(--base) 100%);
}
footer{
    background-color: var(--base);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.footer-top-block{
    display: flex;
}
.footer-left-block,
.footer-right-block{
    width: 50%;
    margin-bottom: 40px;
}
.footer-right-block{
    display: flex;
    justify-content: flex-end;
}
.footer-social-media-icons{
    width: 30px;
    margin-top: 10px;
}
#footer-nav li{
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
.footer-copyright-block{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 20px 0px;
}
