/* RESPONSIVE LAYOUT */
/* Laptops and smaller (1199px and down) */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

/* Tablets (991px and down) */
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .header .container {
    flex-wrap: wrap;
  }

  .header .left {
    padding-left: 4rem;
  }

  .header .right {
    text-align: center;
    margin-top: 30px;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

/* Large phones (767px and down) */
@media (max-width: 767px) {
  .container {
    max-width: 540px;
    padding: 1rem;
  }

  .header .left {
    transform: scale(.7);
  }

}

/* Small phones (575px and down) */
@media (max-width: 575px) {
  .container {
    max-width: 100%;
    min-width: 90vw;
    padding: 0.75rem;
  }

  .header .left {
    transform: scale(.6);
  }

  .header .right {
    margin-top: -40px;
    transform: scale(.7);
  }

  footer .top-wrapper {
    flex-direction: column;
  }
}
